* {
  padding: 0px;
  margin: 0px;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.navgation {
  display: flex;
  justify-content: space-evenly;
  height: 72px;
  background-color: rgb(4, 79, 254);
  width: 1520px;
  display: flex;
  align-items: center;
}
.walmartlogo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  width: 170px;
}
#hover:hover {
  background-color: #004f9a;
  border-radius: 25px;
}
.Department {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 48px;
  width: 149px;
}
.allbox {
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap-reverse;
  /* margin: 2px; */
}
.DepartmentPrapagraph {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}

.box {
  height: 4px;
  width: 4px;
  border: 2px solid white;
  margin: 2px auto;
}

.Services {
  width: 113px;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.allcircal {
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap-reverse;
}
.servicesparagrapg {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}
.circal {
  height: 4px;
  width: 4px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 2px auto;
}
.search {
  height: 48;
  width: 700px;
  display: flex;
  border: none;
  justify-content: space-evenly;
}
#input {
  height: 38px;
  width: 700px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
}
.searchButton {
  height: 30px;
  width: 30px;
  background-color: rgb(240, 226, 74);
  border-radius: 50%;
  border: none;

  position: relative;
  top: 4px;
  right: 35px;
}
.wishlist {
  color: white;
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hurticon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
.wishlistpara1 {
  font-size: 12px;
}
.wishlistpara2 {
  font-size: 18px;
}
.signin {
  align-items: center;
  color: white;
  display: flex;
  height: 48px;
  width: 120px;
  justify-content: center;
}
.user {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
.cart {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 70px;
  color: white;
}

.shiping {
  align-items: center;
}
.firstnav {
  width: 1520px;
  color: white;
  border-top: 1px solid white;
  background-color: rgb(4, 79, 254);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.phone {
  height: 20px;
  width: 20px;
  display: flex;
  /* align-items: center; */
}
#yourhomelocation {
  margin-right: 40px;
}
a {
  font-size: 17px;
  text-decoration: none;
  color: white;
}
#anchor {
  margin-left: 40px;
}
a:hover {
  color: white;
  text-decoration: underline;
}
.content {
  display: flex;
  height: 900px;
  width: 1520px;
  background-color: antiquewhite;
}

#footwere {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(239, 163, 10);
  font-weight: 700;
}
.leftside {
  display: flex;
  align-items: center;
  border-radius: 8px;
  display: block;
  margin-left: 30px;
  width: 300px;
  height: 900px;
}
.contentbox1 {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  background-image: url("box1.png");
  background-size: cover;
}

.contentbox2 {
  background-image: url("box2.png");
  background-size: cover;
  width: 300px;
  height: 400px;
}
.contentbox3 {
  border-radius: 20px;
  background-image: url("box3.jpeg");
  background-size: cover;
  width: 300px;
  height: 200px;
}
.contentbox4 img {
  height: 500px;
  width: 770px;
  margin: 30px;
}
.rightside {
  display: flex;
  align-items: center;
  border-radius: 8px;
  display: block;
  width: 350px;
  height: 900px;
}
.contentbox5 {
  height: 240px;
  width: 300px;
  background-image: url(box4.webp);
  background-size: cover;
  border-radius: 20px;
}
.contentbox6 {
  height: 280px;
  width: 300px;
  border-radius: 20px;
  background-image: url("box5.webp");
  background-size: cover;
}
.contentbox7 {
  height: 280px;
  width: 300px;
  border-radius: 20px;
  background-image: url("box6.webp");
  background-size: cover;
}
.contentbox8 {
  margin-left: 20px;
  height: 300px;
  width: 350px;
  border-radius: 20px;
  background-image: url("box8.webp");
  background-size: cover;
}
.contentbox9 {
  display: flex;
  /* display: inline; */
  text-align: center;
  margin-left: 20px;
  height: 300px;
  width: 350px;
  border-radius: 20px;
  background-image: url("box9.webp");
  background-size: cover;
}
.footerbox {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#anchorbox {
  text-decoration: none;
  color: rgb(255, 205, 55);
  margin-left: 30px;
  font-size: 30px;
  z-index: 1;
  font-weight: 700;
}

.footnav {
  width: 1520px;
  height: 144px;
  display: flex;
  background-color: #e6f1f6;
  justify-content: center;
}

.feedback {
  height: 144px;
  width: 250px;
  margin: 25px auto;
}

#feedinput {
  margin-top: 10px;
  border-radius: 25px;
  display: flex;
}

.foternav2 {
  width: 1520px;
  height: 120px;
  background-color: #004f9a;
  text-align: center;
}

.footeranchortag1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

#anchottagfooter {
  display: flex;
  margin: 10px;
  margin-right: 5px;
}
#anchottagfooter:a {
  margin: 5px auto;
}
.footernev2 {
  display: flex;
  height: 30px;
  width: 1520px;
  color: #e6f1f6;
  border-top: 0.5px solid white;
  background-color: #004f9a;
  align-items: center;
  justify-content: center;
}
/* #copyrightpara {
  text-align: center;
} */
